@using Sam.ReCaptcha
@model MyModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post" class="form-row">
        <div class="col-md-12 form-group">
            <div class="col-md-6 m-auto row" dir="rtl">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    @Html.AddReCaptcha()
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-6 m-auto row" dir="rtl">
                <div class="col-md-3">کد امنیتی :</div>
                <div class="col-md-9">
                    <input asp-for="foo" class="form-control" />
                    <span asp-validation-for="foo" class="text-danger text-right"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-6 m-auto row" dir="rtl">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <input type="submit" value="تست کد امنیتی" class="btn btn-primary btn-block" />
                </div>
            </div>
        </div>
    </form>
</div>
